.div {vertical-align: top;}
.nav {
  background-color: #292929;
}
.nav a {
  color: #f5f5f5;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  position: relative;
  top: 3px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://dl.dropboxusercontent.com/u/12339150/Website%20Resources/FreeAsBird.jpg');
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
line-height: 0px;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: Calibri;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}


.learn-more {
  background-color: #3a3a3a;
        position: relative;
    top: -30px;
}

.learn-more h3 {
  font-family: Calibri;
  font-size: 20px;
  font-weight: bold;
}

.learn-more a {
  color: #77b3c4;
}

.learn-more p {
  color: #eff5f6;
  font-family: Helvetica;
  font-size: 15px;
}

.showcase {
    background-color: #3a3a3a;
    position: relative;
    top: -30px;
}

.intro {
    background-image:url("https://dl.dropboxusercontent.com/u/12339150/website%20resources/Showcase/vitality.jpg");
    height: 300px;
      background-repeat: no-repeat;
  background-size: cover;
    
}

.intro .container {
    color: #ffffff;
    position: relative;
    font-family: Calibri;
    top: 80px;
    left: 50px;
}

.intro h1 {
    font-size: 60px;
    font-weight: lighter;
}

.intro p {
    font-size: 20px;
    font-weight: lighter;
}

.grid {
    padding-top: 40px;
    padding-bottom: 40px;
}